.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}


#album {
  background-color: #e2edff;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}